{% extends "base.html" %}

{% block title %}First App{% endblock title %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for item in meals %}
    <div class="col">
        <div class="card h-100">
          <img src="{{item.strMealThumb}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.strMeal}}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
    </div>
</div>
    {% endfor %}

</div>

{% endblock content %}