{% extends "home.html" %}
{% load crispy_forms_tags %}
{% block link %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link text-white" href="{% url "homepage" %}">Home</a>
        <a class="nav-link text-white" href="{% url "add_task" %}">Add Task</a>
        <a class="nav-link text-white" href="{% url "show_tasks" %}">Show Tasks</a>
    </div>
</div>
{% endblock link %}
{% block content %}
<style>
    .header-box {
        width: 50%;
        margin: 20px auto;
        padding: 5px;
        background-color: #e0a899;
        border: 2px solid #964b00;
        border-radius: 10px;
        text-align: center;
        color: brown;
        font-size: 25px; 
    }

    .completed-task-box {
        width: 80%;
        margin: auto;
    }

    .completed-task-table {
        width: 100%;
        margin-top: 20px;
    }

    .completed-task-table th,
    .completed-task-table td {
        padding: 10px;
    }

    .completed-task-table th {
        background-color: #d1f2eb;
    }

    .completed-task {
        background-color: #b2fab4;
    }
</style>
{% if tasks %}
<div class="header-box">
    <h1 style="width:50% ;margin: 20px auto; color: brown;">Completed Tasks</h1>
</div>
<div style="width: 80%; margin: auto;">
    <table class="table table-bordered border-primary text-center completed-task-table">
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
        </thead>
        {% for task in tasks %}
        <tbody {% if task.completed %}class="completed-task"{% endif %}>
            <tr>
                <td>{{ task.taskTitle }}</td>
                <td>{{ task.taskDescription }}</td>
                <td>{% if task.completed %}Completed{% else %}Incomplete{% endif %}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="header-box">
    <h1 style="width:50% ;margin: 20px auto;; color :brown;">No Tasks Yet! </h1>
</div>
{% endif %}
{% endblock content %}
